        body {
            font-family: 'Varela Round', sans-serif;
            background-color: #fefefe;
        }
        
        .base1 {
            height: 650px;
            background: linear-gradient(to right, #7871fa 0%, #5ff7f5 100%);
        }
        
        .custom-container {
            margin: 0px 15%;
        }
        
        header {
            margin-right: 0px;
            color: white;
            padding-top: 35px;
        }
        
        .logo {
            color: white;
            font-size: x-large;
            font-weight: 600;
            text-decoration: none;
        }
        
        header ul li {
            font-size: small;
            list-style-type: none;
            padding: 0px 30px;
        }
        /* content */
        
        .main {
            background-color: white;
            border-radius: 15px;
            position: relative;
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-top: -500px;
            box-shadow: 2px 2px 2px 2px #f3eded;
            margin-bottom: 20px;
            /* border: 2px solid gray; */
        }
        
        .col1 {}
        
        .col2 {
            padding: 10%;
        }
        
        .about-list {
            list-style-type: none;
            padding: 0;
        }
        
        .about-list li span {
            padding-right: 18px;
            color: #a97fff;
        }
        
        .about-list li {
            padding-bottom: 10px;
            color: #838080;
        }
        
        .col2 p:nth-child(1) {
            letter-spacing: 2px;
        }
        
        .col2 p:nth-child(2) {
            font-size: 44px;
            font-weight: 1000;
            margin-bottom: 0;
        }
        
        .col2 p:nth-child(3) {
            font-size: 44px;
            font-weight: 1000;
            margin-top: -10px;
            margin-bottom: 6px;
        }
        
        .col2 p:nth-child(4) {
            font-weight: 700;
            padding-top: 5px;
        }
        
        .col2 p:nth-child(5) {
            color: #778cb6;
        }
        
        .social-link span i {
            background-color: white;
            font-size: 2rem;
        }
        
        .social-link span {
            padding-right: 10px;
            color: #e8e8e8;
        }
        /* base 3 */
        
        .base3 {
            /* height: 70vh; */
            display: block;
            padding: 150px 0px;
        }
        
        .base3 .for_card {
            padding-left: 0px;
            padding-right: 20px;
        }
        
        .base3 .row .col h1 {
            font-weight: 900;
        }
        
        .base3 .row .col p {
            color: #77889d;
        }
        
        .base3 .card span i {
            color: #84d3ff;
            color: linear-gradient(to right, #7871fa 0%, #5ff7f5 100%);
            ;
            font-size: 2rem;
        }
        
        .base3 .col .prog p {
            color: black;
            font-weight: 700;
        }
        
        .progress {
            height: 0.5rem;
            margin: 20px 0px;
            ;
        }
        
        .progress-bar {
            background: linear-gradient(to right, #7871fa 0%, #5ff7f5 100%);
        }
        /* base4 */
        
        .base4 {
            height: 650px;
            background: linear-gradient(to right, #7871fa 0%, #5ff7f5 100%);
            color: #e8e8e8;
            padding: 120px;
        }
        
        .base4 .card-block span i {
            color: #84d3ff;
            color: linear-gradient(to right, #7871fa 0%, #5ff7f5 100%);
            ;
            font-size: 5rem;
        }
        
        .base4 .card-block .card-body p {
            color: #888888;
        }
        /* footer */
        
        footer {
            background-color: black;
            color: white;
            padding: 120px 0px;
        }
        
        footer .col-2 span i {
            color: white;
            padding-right: 10px;
        }
        
        footer .col-5 form input {
            background-color: black;
            color: white !important;
            width: 400px;
            border-radius: 5px;
            padding: 5px 5px;
        }
        
        footer .col-5 form span {
            background: linear-gradient(to right, #7871fa 0%, #5ff7f5 100%);
            color: white;
        }
        
        footer p {
            color: #777575;
            padding: 25px 0px;
        }